/* CSS RESET */
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--), Arial, Helvetica, sans-serif;
}

/* ROOT */
:root {
    
}

main {
    position: relative;
    overflow: hidden;
}

main > div {
    width: 100%;
}

.sun { 
    position: absolute;
      top:2em;
      right:2em;
      margin: auto;  
      width:70px;
      height:70px;
      border-radius:50%;	
      background:white;
      opacity:0.9;			
      box-shadow: 0px 0px 40px 15px white;  
      z-index: 11;
  }
  
  .ray_box {
    position: absolute;
    margin: auto;
      top:0px;
      left:0;
      right:0;
      bottom:0;	
    width:70px;  
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
  }
  .ray {  
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
          background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
      margin-left:10px;
      border-radius:80% 80% 0 0;
      position:absolute;
      opacity:0.1;
  }
  
  .ray1 {    
      height:170px;
      width:30px;
     -webkit-transform: rotate(180deg);
      top:-175px;
      left: 15px;
  }
  .ray2 {
      height:100px;
      width:8px;
     -webkit-transform: rotate(220deg);
      top:-90px;
      left: 75px;
  }
  .ray3 {
      height:170px;
      width:50px;
     -webkit-transform: rotate(250deg);
      top:-80px;
      left: 100px;
  }
  .ray4 {
      height:120px;
      width:14px;
     -webkit-transform: rotate(305deg);
      top:30px;
      left: 100px;
  }
  .ray5 {
      height:140px;
      width:30px;
     -webkit-transform: rotate(-15deg);
      top:60px;
      left: 40px;
  }
  .ray6 {
      height:90px;
      width:50px;
     -webkit-transform: rotate(30deg);
      top:60px;
      left: -40px;
  }
  .ray7 {
      height:180px;
      width:10px;
     -webkit-transform: rotate(70deg);
      top:-35px;
      left: -40px;
  }
  .ray8 {
      height:120px;
      width:30px;
     -webkit-transform: rotate(100deg);
      top:-45px;
      left:-90px;
  }
  .ray9 {
      height:80px;
      width:10px;
     -webkit-transform: rotate(120deg);
      top:-65px;
      left:-60px;
  }
  .ray10 {
      height:190px;
      width:23px;
     -webkit-transform: rotate(150deg);
      top:-185px;
      left: -60px;
  }
  
  
  @-webkit-keyframes ray_anim { 
          0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
  }

.balk1 {
    background-color: #4c4f5f;
    z-index: 10;
}

main > .balk1 {
    height: 2vh;
}

.balk2 {
    background-color: #656a77;
    z-index: 10;
}

main > .balk2 {
    height: 1.2vh;
    z-index: 10;
}

.balkabs {
    background-color: #4c4f5f;
    height: 1.2vh;
    position: absolute;
    top: 15vh;
    z-index: 11;
}

section {
    height: 67vh;
    display: flex;
    position: relative;
}

section .muur {
    width: 25.4vw;
    background-color: #1f2026;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 10;
}

.muur div {
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    gap: 3em;
    z-index: 10;
}

.muur div button {
    height: 5em;
    aspect-ratio: 1/1;
    z-index: 10;
    border-radius: 5px;
    border: none;
}

.muur div button:hover {
    outline: 2px solid #0971c6;
}

.muur div button:active {
    outline: 2px solid green;
}

.muur div button img {
    width: 100%;
    border-radius: 5px;
}

.muur:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.muur:last-of-type h1 {
    color: #0971c6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

.muur:last-of-type p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
    font-weight: bold;
}

.muur svg {
    border-radius: 1em;
}

#button_4 img {
    width: 50%;
}

section .balk1 {
    height: 100%;
    width: 1.2vw;
    z-index: 10;
}

section .middensectie {
    width: 46.8vw;
    position: relative;
}

.glas {
    position: absolute;
    background-color: #b8f9f9;
    opacity: .2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.flare {
    position: absolute;
    clip-path: polygon(90% 0, 100% 0%, 75% 100%, 65% 100%);
    background-color: #ecffff;
    opacity: .2;
    top: 0;
    bottom: 0;
    right: 2em;
    width: 20vw;
    z-index: 2;
}

.flare2 {
    position: absolute;
    clip-path: polygon(90% 0, 100% 0%, 75% 100%, 65% 100%);
    background-color: #ecffff;
    opacity: .2;
    top: 0;
    bottom: 0;
    right: 7em;
    width: 20vw;
    z-index: 2;
}

.content {
    position: absolute;
    top: 14.5vh;
    left: 50%; 
    transform: translateX(-50%);
}

.content video {
    height: 50vh;
    border-radius: 50%;
}

.muurbinnen {
    background-color: #1d1d1b;
    width: 100%;
    height: 56%;
    z-index: -2;
}

.grondbinnen {
    background-color: #9d9d9c;
    width: 100%;
    height: 44%;
    z-index: -2;
}

.grond {
    background-color: #f0dec0;
    height: 17.6vh;
}

.stoep {
    background-color: #9d9d9c;
    height: 1vh;
}

.stoeprand {
    background-color: #7f7f7f;
    height: 2vh;
}

.weg {
    background-color: #232323;
    height: 6vh;
}

.loadingpage {
    display: grid;
    justify-content: center;
    align-items: center;
}

.loadingpage video {
    height: 80vh;
}